<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  
      
  
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="Lab01.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <connectionStrings>
      <add name="WeatherEntities" connectionString="metadata=&quot;res://*/Entity Data Modells.Weather_Model.csdl|res://*/Entity Data Modells.Weather_Model.ssdl|res://*/Entity Data Modells.Weather_Model.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Weather.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="NorthwindEntities" connectionString="metadata=res://*/Northwind_Model.csdl|res://*/Northwind_Model.ssdl|res://*/Northwind_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Northwind.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="northwndEntities" connectionString="metadata=&quot;res://*/Entity Data Modells.Northwind_Model.csdl|res://*/Entity Data Modells.Northwind_Model.ssdl|res://*/Entity Data Modells.Northwind_Model.msl&quot;;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;C:\Users\Andrze Gnatowski\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\northwnd.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'"
          providerName="System.Data.EntityClient" />
      <add name="Lab01.Properties.Settings.WeatherConnectionString"
          connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Weather.mdf;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>

    

    <userSettings>
        <Lab01.Properties.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#FF4EE8D3</value>
            </setting>
        </Lab01.Properties.Settings>
    </userSettings>
</configuration>
